# Data Cleaning and EDA for Numeric Columns

**Basic imports**

In [8]:
%matplotlib inline
import numpy as np
import numpy.random as nd
import pandas as pd
import math
import matplotlib.pyplot as plt

import os
import seaborn as sns
sns.set(style="darkgrid")

from sklearn.linear_model import LogisticRegressionCV
from sklearn.model_selection import cross_val_score
from sklearn.metrics import accuracy_score
from sklearn.metrics import confusion_matrix
from sklearn.preprocessing import Imputer
from sklearn.metrics import mean_squared_error
from sklearn.model_selection import train_test_split
from IPython.display import display

from scipy import stats

from collections import Counter

pd.set_option('display.max_columns', None)

**Additional Imports**

In [9]:
from IPython.display import display, HTML

**Load the data**

In [10]:
inputFile='../../data/smallData/tmp/AcceptedLoans.csv'
data=pd.read_csv(inputFile)
data.head()

C:\Users\simon\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2902: DtypeWarning: Columns (19,47,55,112,123,124,125,128,129,130,133,139,140,141) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_title,emp_length,home_ownership,annual_inc,verification_status,issue_d,loan_status,pymnt_plan,url,desc,purpose,title,zip_code,addr_state,dti,delinq_2yrs,earliest_cr_line,inq_last_6mths,mths_since_last_delinq,mths_since_last_record,open_acc,pub_rec,revol_bal,revol_util,total_acc,initial_list_status,out_prncp,out_prncp_inv,total_pymnt,total_pymnt_inv,total_rec_prncp,total_rec_int,total_rec_late_fee,recoveries,collection_recovery_fee,last_pymnt_d,last_pymnt_amnt,next_pymnt_d,last_credit_pull_d,collections_12_mths_ex_med,mths_since_last_major_derog,policy_code,application_type,annual_inc_joint,dti_joint,verification_status_joint,acc_now_delinq,tot_coll_amt,tot_cur_bal,open_acc_6m,open_act_il,open_il_12m,open_il_24m,mths_since_rcnt_il,total_bal_il,il_util,open_rv_12m,open_rv_24m,max_bal_bc,all_util,total_rev_hi_lim,inq_fi,total_cu_tl,inq_last_12m,acc_open_past_24mths,avg_cur_bal,bc_open_to_buy,bc_util,chargeoff_within_12_mths,delinq_amnt,mo_sin_old_il_acct,mo_sin_old_rev_tl_op,mo_sin_rcnt_rev_tl_op,mo_sin_rcnt_tl,mort_acc,mths_since_recent_bc,mths_since_recent_bc_dlq,mths_since_recent_inq,mths_since_recent_revol_delinq,num_accts_ever_120_pd,num_actv_bc_tl,num_actv_rev_tl,num_bc_sats,num_bc_tl,num_il_tl,num_op_rev_tl,num_rev_accts,num_rev_tl_bal_gt_0,num_sats,num_tl_120dpd_2m,num_tl_30dpd,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit,revol_bal_joint,sec_app_earliest_cr_line,sec_app_inq_last_6mths,sec_app_mort_acc,sec_app_open_acc,sec_app_revol_util,sec_app_open_act_il,sec_app_num_rev_accts,sec_app_chargeoff_within_12_mths,sec_app_collections_12_mths_ex_med,sec_app_mths_since_last_major_derog,hardship_flag,hardship_type,hardship_reason,hardship_status,deferral_term,hardship_amount,hardship_start_date,hardship_end_date,payment_plan_start_date,hardship_length,hardship_dpd,hardship_loan_status,orig_projected_additional_accrued_interest,hardship_payoff_balance_amount,hardship_last_payment_amount,disbursement_method,debt_settlement_flag,debt_settlement_flag_date,settlement_status,settlement_date,settlement_amount,settlement_percentage,settlement_term
0,NaN,NaN,5000,5000,4975.0,36 months,10.65%,162.87,B,B2,NaN,10+ years,RENT,24000.0,Verified,11-Dec,Fully Paid,n,NaN,Borrower added on 12/22/11 > I need to upgra...,credit_card,Computer,860xx,AZ,27.65,0,Jan-85,1,NaN,NaN,3,0,13648,83.70%,9,f,0.0,0.0,5863.155187,5833.84,5000.00,863.16,0.00,0.0,0.00,15-Jan,171.62,NaN,18-Oct,0.0,NaN,1,Individual,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,2500,2500,2500.0,60 months,15.27%,59.83,C,C4,Ryder,< 1 year,RENT,30000.0,Source Verified,11-Dec,Charged Off,n,NaN,Borrower added on 12/22/11 > I plan to use t...,car,bike,309xx,GA,1.00,0,Apr-99,5,NaN,NaN,3,0,1687,9.40%,4,f,0.0,0.0,1014.530000,1014.53,456.46,435.17,0.00,122.9,1.11,13-Apr,119.66,NaN,16-Oct,0.0,NaN,1,Individual,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,2400,2400,2400.0,36 months,15.96%,84.33,C,C5,NaN,10+ years,RENT,12252.0,Not Verified,11-Dec,Fully Paid,n,NaN,NaN,small_business,real estate business,606xx,IL,8.72,0,1-Nov,2,NaN,NaN,2,0,2956,98.50%,10,f,0.0,0.0,3005.666844,3005.67,2400.00,605.67,0.00,0.0,0.00,14-Jun,649.91,NaN,17-Jun,0.0,NaN,1,Individual,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,10000,10000,10000.0,36 months,13.49%,339.31,C,C1,AIR RESOURCES BOARD,10+ years,RENT,49200.0,Source Verified,11-Dec,Fully Paid,n,NaN,Borrower added on 12/21/11 > to pay for prop...,other,personel,917xx,CA,20.00,0,Feb-96,1,35.0,NaN,10,0,5598,21%,37,f,0.0,0.0,12231.890000,12231.89,10000.00,2214.92,16.97,0.0,0.00,15-Jan,357.48,NaN,16-Apr,0.0,NaN,1,Individual,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,3000,3000,3000.0,60 months,12.69%,67.79,B,B5,University Medical Group,1 year,RENT,80000.0,Source Verified,11-Dec,Fully Paid,n,NaN,Borrower added on 12/21/11 > I plan on combi...,other,Personal,972xx,OR,17.94,0,Jan-96,0,38.0,NaN,15,0,27783,53.90%,38,f,0.0,0.0,4066.908161,4066.91,3000.00,1066.91,0.00,0.0,0.00,17-Jan,67.30,NaN,18-Apr,0.0,NaN,1,Individual,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
data.loan_status.unique()

array(['Fully Paid', 'Charged Off', 'Current', 'In Grace Period',
       'Late (31-120 days)', 'Late (16-30 days)'], dtype=object)

**Check Data Types**

In [12]:
types = data.dtypes
types.unique()

array([dtype('float64'), dtype('int64'), dtype('O')], dtype=object)

**Get Numeric Columns**

In [13]:
num_cols = types[(types == 'float64') | (types == 'int64') ]
num_cols

id                                            float64
member_id                                     float64
loan_amnt                                       int64
funded_amnt                                     int64
funded_amnt_inv                               float64
installment                                   float64
annual_inc                                    float64
url                                           float64
dti                                           float64
delinq_2yrs                                     int64
inq_last_6mths                                  int64
mths_since_last_delinq                        float64
mths_since_last_record                        float64
open_acc                                        int64
pub_rec                                         int64
revol_bal                                       int64
total_acc                                       int64
out_prncp                                     float64
out_prncp_inv                                 float64
total_pymnt                                   float64
total_pymnt_inv                               float64
total_rec_prncp                               float64
total_rec_int                                 float64
total_rec_late_fee                            float64
recoveries                                    float64
collection_recovery_fee                       float64
last_pymnt_amnt                               float64
collections_12_mths_ex_med                    float64
mths_since_last_major_derog                   float64
policy_code                                     int64
                                               ...
num_tl_90g_dpd_24m                            float64
num_tl_op_past_12m                            float64
pct_tl_nvr_dlq                                float64
percent_bc_gt_75                              float64
pub_rec_bankruptcies                          float64
tax_liens                                     float64
tot_hi_cred_lim                               float64
total_bal_ex_mort                             float64
total_bc_limit                                float64
total_il_high_credit_limit                    float64
revol_bal_joint                               float64
sec_app_inq_last_6mths                        float64
sec_app_mort_acc                              float64
sec_app_open_acc                              float64
sec_app_revol_util                            float64
sec_app_open_act_il                           float64
sec_app_num_rev_accts                         float64
sec_app_chargeoff_within_12_mths              float64
sec_app_collections_12_mths_ex_med            float64
sec_app_mths_since_last_major_derog           float64
deferral_term                                 float64
hardship_amount                               float64
hardship_length                               float64
hardship_dpd                                  float64
orig_projected_additional_accrued_interest    float64
hardship_payoff_balance_amount                float64
hardship_last_payment_amount                  float64
settlement_amount                             float64
settlement_percentage                         float64
settlement_term                               float64
Length: 107, dtype: object

In [14]:
numeric_data = data[num_cols.index]
non_numeric_data = data.drop(num_cols.index, axis = 1)

In [15]:
len(numeric_data.columns)

107

## CLEAN THE NUMERIC FEATURES

First we look at summary statistics and missing values.

In [16]:
numeric_data.describe()

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,installment,annual_inc,url,dti,delinq_2yrs,inq_last_6mths,mths_since_last_delinq,mths_since_last_record,open_acc,pub_rec,revol_bal,total_acc,out_prncp,out_prncp_inv,total_pymnt,total_pymnt_inv,total_rec_prncp,total_rec_int,total_rec_late_fee,recoveries,collection_recovery_fee,last_pymnt_amnt,collections_12_mths_ex_med,mths_since_last_major_derog,policy_code,annual_inc_joint,dti_joint,acc_now_delinq,tot_coll_amt,tot_cur_bal,open_acc_6m,open_act_il,open_il_12m,open_il_24m,mths_since_rcnt_il,total_bal_il,il_util,open_rv_12m,open_rv_24m,max_bal_bc,all_util,total_rev_hi_lim,inq_fi,total_cu_tl,inq_last_12m,acc_open_past_24mths,avg_cur_bal,bc_open_to_buy,bc_util,chargeoff_within_12_mths,delinq_amnt,mo_sin_old_il_acct,mo_sin_old_rev_tl_op,mo_sin_rcnt_rev_tl_op,mo_sin_rcnt_tl,mort_acc,mths_since_recent_bc,mths_since_recent_bc_dlq,mths_since_recent_inq,mths_since_recent_revol_delinq,num_accts_ever_120_pd,num_actv_bc_tl,num_actv_rev_tl,num_bc_sats,num_bc_tl,num_il_tl,num_op_rev_tl,num_rev_accts,num_rev_tl_bal_gt_0,num_sats,num_tl_120dpd_2m,num_tl_30dpd,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit,revol_bal_joint,sec_app_inq_last_6mths,sec_app_mort_acc,sec_app_open_acc,sec_app_revol_util,sec_app_open_act_il,sec_app_num_rev_accts,sec_app_chargeoff_within_12_mths,sec_app_collections_12_mths_ex_med,sec_app_mths_since_last_major_derog,deferral_term,hardship_amount,hardship_length,hardship_dpd,orig_projected_additional_accrued_interest,hardship_payoff_balance_amount,hardship_last_payment_amount,settlement_amount,settlement_percentage,settlement_term
count,0.0,0.0,103496.00000,103496.000000,103496.000000,103496.000000,1.034960e+05,0.0,103327.000000,103496.000000,103496.000000,41786.000000,11775.000000,103496.000000,103496.000000,103496.000000,103496.000000,103496.000000,103496.000000,103496.000000,103496.000000,103496.000000,103496.000000,103496.000000,103496.000000,103496.000000,103496.000000,103440.000000,14650.00000,103496.0,9.823000e+03,9823.000000,103496.000000,6.371000e+04,6.371000e+04,63710.000000,63710.000000,63710.000000,63710.000000,61079.000000,63710.000000,52991.000000,63710.000000,63710.000000,63710.000000,63695.000000,6.371000e+04,63710.000000,63710.000000,63710.000000,63710.000000,63704.000000,62815.000000,62790.000000,103440.000000,103496.000000,61079.000000,63710.000000,63710.000000,63710.000000,63710.000000,62869.000000,12532.000000,55812.000000,18110.000000,63710.000000,63710.000000,63710.00000,63710.000000,63710.000000,63710.000000,63710.000000,63710.000000,63710.000000,63710.000000,61670.0,63710.000000,63710.000000,63710.000000,63710.000000,62813.000000,102799.000000,103457.000000,6.371000e+04,6.371000e+04,63710.000000,63710.000000,9823.000000,9823.00000,9823.000000,9823.000000,9624.000000,9823.000000,9823.000000,9823.000000,9823.000000,3252.000000,1.0,1.00,1.0,1.0,1.00,1.00,1.00,159.000000,159.000000,159.000000
mean,NaN,NaN,14266.61900,14161.811326,13948.464131,414.305932,7.463678e+04,NaN,17.271335,0.194433,0.616149,36.660006,77.227431,10.591153,0.122295,15006.798582,22.406740,8345.604653,8343.912106,6771.521128,6545.521965,5357.966988,1374.858362,0.672695,38.023114,5.006131,1824.099767,0.010354,46.20157,1.0,1.246879e+05,19.549071,0.000097,3.657829e+02,1.426320e+05,0.902182,2.617658,0.654418,1.493674,21.680398,34344.398572,67.723047,1.248093,2.649364,5797.739444,53.638072,3.814851e+04,1.059598,1.455392,1.979689,4.424141,13710.371908,15267.702237,49.365799,0.004273,0.885590,122.923542,179.532852,15.050604,8.767446,1.391006,25.343428,40.790057,7.406991,37.974765,0.451546,3.575153,5.28140,4.842175,7.204505,8.004929,8.115492,13.006027,5.232036,11.376958,0.0,0.000141,0.059645,2.035002,94.670052,32.759338,0.092764,0.025257,1.838251e+05,5.060598e+04,26731.269471,44731.443243,34088.442940,0.63728,1.554820,11.498626,58.160204,2.918966,12.640029,0.059452,0.084292,35.479397,3.0,57.85,3.0,22.0,173.55,3522.95,1072.99,4346.004025,50.712830,2.031447
std,NaN,NaN,9510.59921,9464.737601,9521.814693,269.792064,7.767579e+04,NaN,18.200391,0.655004,0.905837,21.931453,30.615454,5.471758,0.440992,20081.326602,11.827195,10037.297209,10035.967421,7943.504914,7748.438434,6625.844614,1856.748178,5.271357,444.822455,94.758180,4289.094725,0.114576,21.77514,0.0,6.671414e+04,8.076817,0.009829,3.226897e+04,1.678841e+05,1.123553,2.903389,0.913829,1.529551,26.660117,44603.590969,24.041221,1.499044,2.566267,5581.185531,21.411107,3.653217e+04,1.517103,2.640251,2.398979,3.222925,17406.104437,19681.354073,29.245825,0.079156,73.528752,55.459082,101.647479,18.762375,9.754363,1.757758,33.836647,22.542284,6.033627,22.156953,1.334907,2.405604,3.39804,3.206483,4.569942,7.257133,4.906923,7.928703,3.312121,5.894545,0.0,0.011885,0.413201,1.885881,9.058789,34.987148,0.294396,0.310325,1.890980e+05,5.193532e+04,25648.891555,47374.119020,28194.972291,1.00996,1.794248,6.688945,25.890075,3.195642,8.230684,0.483412,0.464611,24.001625,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3129.902779,15.637371,5.240327
min,NaN,NaN,500.00000,500.000000,0.000000,15.690000,0.000000e+00,NaN,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,1.0,1.800000e+04,0.000000,0.000000,0.000000e+00,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,5.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,2.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000e+00,0.000000e+00,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,3.0,57.85,3.0,22.0,173.55,3522.95,1072.99,193.290000,10.690000,0.000000
25%,NaN,NaN,7000.00000,7000.000000,6475.000000,212.480000,4.300000e+04,NaN,9.850000,0.000000,0.000000,19.000000,62.000000,7.000000,0.000000,4577.750000,14.000000,0.000000,0.000000,1787.672500,1736.360000,1155.630000,392.227500,0.000000,0.000000,0.000000,251.690000,0.000000,29.00000,1.0,8.400000e+04,13.580000,0.000000,0.000000e+00,2.623050e+04,0.000000,1.000000,0.000000,0.000000,7.000000,7339.250000,53.000000,0.000000,1.000000,2137.000000,39.000000,1.600000e+04,0.000000,0.000000,0.000000,2.000000,2886.750000,2885.500000,25.100000,0.000000,0.000000,86.000000,112.000000,4.000000,3.000000,0.000000,6.000000,23.000000,2.000000,20.000000,0.000000,2.000000,3.00000,3.000000,4.000000,3.000000,5.000000,7.000000,3.000000,7.000000,0.0,0.000000,0.000000,1.000000,92.300000,0.000000,0.000000,0.000000,5.130000e+04,1.892625e+04,9700.000000,14110.250000,15444.500000,0.00000,0.000000,7.000000,39.000000,1.000000,7.000000,0.000000,0.000000,14.000000,3.0,57.85,3.0,22.0,173.55,3522.95,1072.99,1863.500000,40.000000,0.000000
50%,NaN,NaN,12000.00000,12000.000000,11650.000000,342.120000,6.200000e+04,NaN,15.830000,0.000000,0.000000,34.000000,85.000000,10.000000,0.000000,9950.000000,20.000000,4559.195000,4557.715000,3555.485000,3444.715000,2400.000000,814.300000,0.000000,0.000000,0.000000,453.710000,0.000000,47.00000,1.0,1.110000e+05,19.110000,0.000000,0.000000e+00,7.428300e+04,1.000000,2.000000,0.000000,1.000000,14.000000,21792.000000,70.000000,1.000000,2.000000,4401.000000,54.000000,2.850000e+04,1.000000,0.000000,1.000000,4.000000,7074.000000,8412.000000,48.300000,0.000000,0.000000,129.000000,161.000000,9.000000,6.000000,1.000000,14.000000,38.000000,6.000000,35.000000,0.000000,3.000000,5.00000,4.000000,6.000000,6.000000,7.000000,11.000000,5.000000,10.000000,0.0,0.000000,0.000000,2.000000,100.000000,25.000000,0.000000,0.000000,1.166760e+05,3.662350e+04,19300.000000,32900.500000,26990.000000,0.00000,1.000000,10.000000,60.300000,2.000000,11.000000,0.000000,0.000000,34.000000,3.0,57.85,3.0,22.0,173.55,3522.95,1072.99,3500.000000,50.000000,0.000000
75%,NaN,NaN,20000.00000,20000.000000,20000.000000,553.230000,9.000000e+04,NaN,22.150000,0.000000,1.000000,53.000000,100.000000,13.000000,0.000000,18550.000000,29.000000,13965.100000,13965.100000,8393.976633,7903.422500,7000.000000,1582.657500,0.000000,0.000000,0.000000,913.750000,0.000000,63.00000,1.0,1.490000e+05,25.010000,0.000000,0.000000e+00,2.151730e+05,1.000000,3.000000,1.000000,2.000000,25.000000,44637.000000,84.000000,2.000000,4.000000,7712.000000,69.000000,4.850000e+04,2.000000,2.000000,3.000000,6.000000,18905.000000,20066.500000,74.000000,0.000000,0.000000,154.000000,232.000000,19.000000,11.000000,2.000000,30.000000,57.000000,11.000000,53.000000,0.000000,5.000000,7.00000,6.000000,9.000000,11.000000,10.000000,17.000000,7.000000,14.000000,0.0,0.000000,0.000000,3.000000,100.000000,56.300000,0.000000,0.000000,2.668640e+05,6.450850e+04,35400.000000,60693.500000,44671.000000,1.00000,3.000000,15.000000,78.825000,4.000000,17.000000,0.000000,0.000000,55.000000,3.0,57.85,3.0,22.0,173.55,3522.95,1072.99,5835.310000,62.270000,0.500000
max,NaN,NaN,40000.00000,40000.000000,40000.000000,1607.800000,8.365188e+06,NaN,999.000000,20.000000,8.000000,226.000000,129.000000,69.000000,52.000000,887176.000000,153.000000,39536.810000,39536.810000,58886.473430,58563.680000,40000.000000,23886.470000,180.200000,29623.350000,7002.190000,40890.810000,8.000000,226.00000,1.0,1.135000e+06,39.930000,1.000000,6.214661e+06,5.752177e+06,12.000000,38.000000,8.000000,16.000000,507.000000,995545.000000,1000.000000,19.000000,29.000000,199777.000000,177.000000,1.029000e+06,38.000000,52.000000,46.000000,35.000000,620531.000000,469679.000000,191.000000,9.000000,10486.000000,547.000000,817.000000,502.000000,368.000000,31.000000,534.000000,194.000000,24.000000,160.000000,36.000000,27.000000,45.00000,48.000000,86.000000,105.000000,68.000000,151.000000,45.000000,69.000000,0.0,1.000000,19.000000,20.000000,100.000000,100.000000,4.000000,52.000000,6.057411e+06,1.009178e+06,471400.000000,921338.000000,371153.000000,6.00000,17.000000,66.000000,191.000000,32.000000,85.000000,15.000000,15.000000,123.000000,3.0,57.85,3.0,22.0,173.55,3522.95,1072.99,14798.200000,92.740000,24.000000

Observations:
- some columns are entirely missing or have one entry
- some columns contain a single value
- some columns have large outliers

**Missing Values**

We'll need to consider missing values in general, but for now, we'll drop all columns that are entirely missing or have one entry.

In [17]:
col_before = len(numeric_data.columns)
col_not_missing = numeric_data.isna().sum() < (len(numeric_data) - 1)
numeric_data = numeric_data.loc[:,col_not_missing]
col_after = len(numeric_data.columns)

print("columns dropped:", col_before-col_after)

columns dropped: 10

**Columns that Contain Single Value**

Are there any columns remaining with a single value?

In [18]:
numeric_data.loc[:,numeric_data.nunique() == 1]

        policy_code  num_tl_120dpd_2m
0                 1               NaN
1                 1               NaN
2                 1               NaN
3                 1               NaN
4                 1               NaN
5                 1               NaN
6                 1               NaN
7                 1               NaN
8                 1               NaN
9                 1               NaN
10                1               NaN
11                1               NaN
12                1               NaN
13                1               NaN
14                1               NaN
15                1               NaN
16                1               NaN
17                1               NaN
18                1               NaN
19                1               NaN
20                1               NaN
21                1               NaN
22                1               NaN
23                1               NaN
24                1               NaN
25                1               NaN
26                1               NaN
27                1               NaN
28                1               NaN
29                1               NaN
...             ...               ...
103466            1               0.0
103467            1               0.0
103468            1               0.0
103469            1               0.0
103470            1               0.0
103471            1               0.0
103472            1               0.0
103473            1               0.0
103474            1               0.0
103475            1               0.0
103476            1               0.0
103477            1               0.0
103478            1               0.0
103479            1               0.0
103480            1               0.0
103481            1               0.0
103482            1               0.0
103483            1               0.0
103484            1               NaN
103485            1               0.0
103486            1               0.0
103487            1               0.0
103488            1               0.0
103489            1               0.0
103490            1               0.0
103491            1               0.0
103492            1               0.0
103493            1               NaN
103494            1               0.0
103495            1               0.0

[103496 rows x 2 columns]

In [19]:
numeric_data.nunique()[numeric_data.nunique() == 1]

policy_code         1
num_tl_120dpd_2m    1
dtype: int64

These columns should be dropped

In [20]:
numeric_data = numeric_data.drop(numeric_data.nunique()[numeric_data.nunique() == 1].index, axis = 1)

**Large Outliers**

We are looking for outliers that may indicate incorrect data. We will use a Z-score to identify outliers. However, since our dataset is large, we should expect to see quite a bit of deviation from the mean. To set the z-score threshold, we find the maximum value of 103496 draws from a standard normal across 1000 simulations.

In [21]:
threshold = np.max(np.max(np.random.normal(size = (103496*1000))))
threshold

6.253673574130256

In [22]:
outliers = np.abs(stats.zscore(numeric_data)) > threshold

C:\Users\simon\Anaconda3\lib\site-packages\ipykernel\__main__.py:1: RuntimeWarning: invalid value encountered in greater
  if __name__ == '__main__':

Which column has outliers?

In [23]:
outlier_cols = numeric_data.columns[outliers.sum(axis = 0) > 0]
pd.DataFrame({'column_name': numeric_data.columns, 
             'number_of_outliers':outliers.sum(axis = 0)
            })

                            column_name  number_of_outliers
0                             loan_amnt                   0
1                           funded_amnt                   0
2                       funded_amnt_inv                   0
3                           installment                   0
4                            annual_inc                 139
5                                   dti                   0
6                           delinq_2yrs                 342
7                        inq_last_6mths                  50
8                mths_since_last_delinq                   0
9                mths_since_last_record                   0
10                             open_acc                  30
11                              pub_rec                 306
12                            revol_bal                 315
13                            total_acc                  16
14                            out_prncp                   0
15                        out_prncp_inv                   0
16                          total_pymnt                  16
17                      total_pymnt_inv                  22
18                      total_rec_prncp                   0
19                        total_rec_int                 387
20                   total_rec_late_fee                 546
21                           recoveries                 299
22              collection_recovery_fee                 219
23                      last_pymnt_amnt                 538
24           collections_12_mths_ex_med                   0
25          mths_since_last_major_derog                   0
26                     annual_inc_joint                   0
27                            dti_joint                   0
28                       acc_now_delinq                  10
29                         tot_coll_amt                   0
..                                  ...                 ...
65                            num_bc_tl                   0
66                            num_il_tl                   0
67                        num_op_rev_tl                   0
68                        num_rev_accts                   0
69                  num_rev_tl_bal_gt_0                   0
70                             num_sats                   0
71                         num_tl_30dpd                   0
72                   num_tl_90g_dpd_24m                   0
73                   num_tl_op_past_12m                   0
74                       pct_tl_nvr_dlq                   0
75                     percent_bc_gt_75                   0
76                 pub_rec_bankruptcies                   0
77                            tax_liens                   0
78                      tot_hi_cred_lim                   0
79                    total_bal_ex_mort                   0
80                       total_bc_limit                   0
81           total_il_high_credit_limit                   0
82                      revol_bal_joint                   0
83               sec_app_inq_last_6mths                   0
84                     sec_app_mort_acc                   0
85                     sec_app_open_acc                   0
86                   sec_app_revol_util                   0
87                  sec_app_open_act_il                   0
88                sec_app_num_rev_accts                   0
89     sec_app_chargeoff_within_12_mths                   0
90   sec_app_collections_12_mths_ex_med                   0
91  sec_app_mths_since_last_major_derog                   0
92                    settlement_amount                   0
93                settlement_percentage                   0
94                      settlement_term                   0

[95 rows x 2 columns]

Let's see the distribution of the columns with outliers along with the column discription from the data dictionary

In [24]:
data_dict_df = pd.read_csv('../../data/AcceptedDataDictionary.csv')

FileNotFoundError: File b'../../data/AcceptedDataDictionary.csv' does not exist

In [ ]:
data_dict = dict(zip(data_dict_df.LoanStatNew, data_dict_df.Description))

In [ ]:
fig, axes = plt.subplots(len(outlier_cols), figsize = (10,30))
for idx, ax in enumerate(axes):
    sns.distplot(numeric_data[outlier_cols[idx]], 
                 hist=False,
                 ax=ax,
                 rug = True,
                 rug_kws={"color": "r", "alpha":0.3, "linewidth": 2, "height":0.5 }

                )
    ax.set_title("{}:{}".format(outlier_cols[idx],data_dict[outlier_cols[idx]]))
fig.tight_layout()

The only outlier that looks particularly strange is the large value of ~55 for `pub_rec`. I will remove it

In [ ]:
numeric_data[numeric_data.pub_rec > 50]

In [ ]:
numeric_data = numeric_data[numeric_data.pub_rec < 50]

In [26]:
numeric_data.isna().sum()/numeric_data.shape[0]

loan_amnt                              0.000000
funded_amnt                            0.000000
funded_amnt_inv                        0.000000
installment                            0.000000
annual_inc                             0.000000
dti                                    0.001633
delinq_2yrs                            0.000000
inq_last_6mths                         0.000000
mths_since_last_delinq                 0.596255
mths_since_last_record                 0.886227
open_acc                               0.000000
pub_rec                                0.000000
revol_bal                              0.000000
total_acc                              0.000000
out_prncp                              0.000000
out_prncp_inv                          0.000000
total_pymnt                            0.000000
total_pymnt_inv                        0.000000
total_rec_prncp                        0.000000
total_rec_int                          0.000000
total_rec_late_fee                     0.000000
recoveries                             0.000000
collection_recovery_fee                0.000000
last_pymnt_amnt                        0.000000
collections_12_mths_ex_med             0.000541
mths_since_last_major_derog            0.858449
annual_inc_joint                       0.905088
dti_joint                              0.905088
acc_now_delinq                         0.000000
tot_coll_amt                           0.384421
                                         ...
num_bc_tl                              0.384421
num_il_tl                              0.384421
num_op_rev_tl                          0.384421
num_rev_accts                          0.384421
num_rev_tl_bal_gt_0                    0.384421
num_sats                               0.384421
num_tl_30dpd                           0.384421
num_tl_90g_dpd_24m                     0.384421
num_tl_op_past_12m                     0.384421
pct_tl_nvr_dlq                         0.384421
percent_bc_gt_75                       0.393088
pub_rec_bankruptcies                   0.006735
tax_liens                              0.000377
tot_hi_cred_lim                        0.384421
total_bal_ex_mort                      0.384421
total_bc_limit                         0.384421
total_il_high_credit_limit             0.384421
revol_bal_joint                        0.905088
sec_app_inq_last_6mths                 0.905088
sec_app_mort_acc                       0.905088
sec_app_open_acc                       0.905088
sec_app_revol_util                     0.907011
sec_app_open_act_il                    0.905088
sec_app_num_rev_accts                  0.905088
sec_app_chargeoff_within_12_mths       0.905088
sec_app_collections_12_mths_ex_med     0.905088
sec_app_mths_since_last_major_derog    0.968578
settlement_amount                      0.998464
settlement_percentage                  0.998464
settlement_term                        0.998464
Length: 95, dtype: float64