# Data Cleaning for Float Columns

**Basic imports**

In [27]:
%matplotlib inline
import numpy as np
import numpy.random as nd
import pandas as pd
import math
import matplotlib.pyplot as plt

import os
import seaborn as sns
sns.set(style="darkgrid")

from sklearn.linear_model import LogisticRegressionCV
from sklearn.model_selection import cross_val_score
from sklearn.metrics import accuracy_score
from sklearn.metrics import confusion_matrix
from sklearn.preprocessing import Imputer
from sklearn.metrics import mean_squared_error
from sklearn.model_selection import train_test_split
from IPython.display import display


from collections import Counter

**Additional Imports**

In [48]:
from IPython.display import display, HTML

**Load the data**

In [28]:
inputFile='../../data/smallData/tmp/AcceptedLoans.csv'
data=pd.read_csv(inputFile)
data.head()

/Users/joshfeldman/anaconda3/envs/py36/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2785: DtypeWarning: Columns (0,47) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,hardship_payoff_balance_amount,hardship_last_payment_amount,disbursement_method,debt_settlement_flag,debt_settlement_flag_date,settlement_status,settlement_date,settlement_amount,settlement_percentage,settlement_term
0,NaN,NaN,5000.0,5000.0,4975.0,36 months,10.65%,162.87,B,B2,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,2500.0,2500.0,2500.0,60 months,15.27%,59.83,C,C4,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,2400.0,2400.0,2400.0,36 months,15.96%,84.33,C,C5,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,10000.0,10000.0,10000.0,36 months,13.49%,339.31,C,C1,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,3000.0,3000.0,3000.0,60 months,12.69%,67.79,B,B5,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN

**Remove Columns that are entirely empty**

In [30]:
data = data.loc[:, (data.isna().sum(axis=0) != len(data))]
data.head()

,id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_title,...,tax_liens,hardship_flag,disbursement_method,debt_settlement_flag,debt_settlement_flag_date,settlement_status,settlement_date,settlement_amount,settlement_percentage,settlement_term
0,NaN,5000.0,5000.0,4975.0,36 months,10.65%,162.87,B,B2,NaN,...,0.0,N,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,2500.0,2500.0,2500.0,60 months,15.27%,59.83,C,C4,Ryder,...,0.0,N,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,2400.0,2400.0,2400.0,36 months,15.96%,84.33,C,C5,NaN,...,0.0,N,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,10000.0,10000.0,10000.0,36 months,13.49%,339.31,C,C1,AIR RESOURCES BOARD,...,0.0,N,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,3000.0,3000.0,3000.0,60 months,12.69%,67.79,B,B5,University Medical Group,...,0.0,N,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN

**Check Data Types**

In [32]:
types = data.dtypes
types

id                             object
loan_amnt                     float64
funded_amnt                   float64
funded_amnt_inv               float64
term                           object
int_rate                       object
installment                   float64
grade                          object
sub_grade                      object
emp_title                      object
emp_length                     object
home_ownership                 object
annual_inc                    float64
verification_status            object
issue_d                        object
loan_status                    object
pymnt_plan                     object
desc                           object
purpose                        object
title                          object
zip_code                       object
addr_state                     object
dti                           float64
delinq_2yrs                   float64
earliest_cr_line               object
inq_last_6mths                float64
mths_since_last_delinq        float64
mths_since_last_record        float64
open_acc                      float64
pub_rec                       float64
                               ...
out_prncp                     float64
out_prncp_inv                 float64
total_pymnt                   float64
total_pymnt_inv               float64
total_rec_prncp               float64
total_rec_int                 float64
total_rec_late_fee            float64
recoveries                    float64
collection_recovery_fee       float64
last_pymnt_d                   object
last_pymnt_amnt               float64
next_pymnt_d                   object
last_credit_pull_d             object
collections_12_mths_ex_med    float64
policy_code                   float64
application_type               object
acc_now_delinq                float64
chargeoff_within_12_mths      float64
delinq_amnt                   float64
pub_rec_bankruptcies          float64
tax_liens                     float64
hardship_flag                  object
disbursement_method            object
debt_settlement_flag           object
debt_settlement_flag_date      object
settlement_status              object
settlement_date                object
settlement_amount             float64
settlement_percentage         float64
settlement_term               float64
Length: 64, dtype: object

**Get Float Columns**

In [33]:
float_cols = types[types == 'float64']
float_cols

loan_amnt                     float64
funded_amnt                   float64
funded_amnt_inv               float64
installment                   float64
annual_inc                    float64
dti                           float64
delinq_2yrs                   float64
inq_last_6mths                float64
mths_since_last_delinq        float64
mths_since_last_record        float64
open_acc                      float64
pub_rec                       float64
revol_bal                     float64
total_acc                     float64
out_prncp                     float64
out_prncp_inv                 float64
total_pymnt                   float64
total_pymnt_inv               float64
total_rec_prncp               float64
total_rec_int                 float64
total_rec_late_fee            float64
recoveries                    float64
collection_recovery_fee       float64
last_pymnt_amnt               float64
collections_12_mths_ex_med    float64
policy_code                   float64
acc_now_delinq                float64
chargeoff_within_12_mths      float64
delinq_amnt                   float64
pub_rec_bankruptcies          float64
tax_liens                     float64
settlement_amount             float64
settlement_percentage         float64
settlement_term               float64
dtype: object

## CLEAN THE FLOAT FEATURES

To clean the float features we will perform the following steps:
1. Make sure missing values are `None` by examining rows where the data is 0
2. Examine edge cases by looking at lowest 20 rows and highest 20 rows
3. Check to see if data should be categorical by looking at number of unique values

In [72]:
def examine(col_name, df):
    iszero = df[col_name] == 0
    islow = df[col_name] <= df[col_name].quantile(.01)
    ishigh = df[col_name] >= df[col_name].quantile(.99)
    print("rows where ")
    display(df[iszero])
    display(df[islow])
    display(df[ishigh])

In [71]:
col = float_cols.index[0]
print('column:', col)
examine(col, data)

column: loan_amnt

Empty DataFrame
Columns: [id, loan_amnt, funded_amnt, funded_amnt_inv, term, int_rate, installment, grade, sub_grade, emp_title, emp_length, home_ownership, annual_inc, verification_status, issue_d, loan_status, pymnt_plan, desc, purpose, title, zip_code, addr_state, dti, delinq_2yrs, earliest_cr_line, inq_last_6mths, mths_since_last_delinq, mths_since_last_record, open_acc, pub_rec, revol_bal, revol_util, total_acc, initial_list_status, out_prncp, out_prncp_inv, total_pymnt, total_pymnt_inv, total_rec_prncp, total_rec_int, total_rec_late_fee, recoveries, collection_recovery_fee, last_pymnt_d, last_pymnt_amnt, next_pymnt_d, last_credit_pull_d, collections_12_mths_ex_med, policy_code, application_type, acc_now_delinq, chargeoff_within_12_mths, delinq_amnt, pub_rec_bankruptcies, tax_liens, hardship_flag, disbursement_method, debt_settlement_flag, debt_settlement_flag_date, settlement_status, settlement_date, settlement_amount, settlement_percentage, settlement_term]
Index: []

[0 rows x 64 columns]

,id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_title,...,tax_liens,hardship_flag,disbursement_method,debt_settlement_flag,debt_settlement_flag_date,settlement_status,settlement_date,settlement_amount,settlement_percentage,settlement_term
15,NaN,1000.0,1000.0,1000.000000,36 months,16.29%,35.31,D,D1,Internal revenue Service,...,0.0,N,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
422,NaN,1000.0,1000.0,1000.000000,36 months,14.65%,34.50,C,C3,NaN,...,0.0,N,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
801,NaN,1000.0,1000.0,1000.000000,36 months,13.49%,33.94,C,C1,Inviting Company,...,0.0,N,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
876,NaN,1200.0,1200.0,1200.000000,36 months,12.69%,40.26,B,B5,san gabriel transit inc,...,0.0,N,Cash,Y,Jun-17,COMPLETE,Jul-16,697.92,65.0,0.0
1225,NaN,1200.0,1200.0,1200.000000,36 months,7.90%,37.55,A,A4,"City of Tulsa, Okla",...,0.0,N,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
1394,NaN,1000.0,1000.0,1000.000000,36 months,13.49%,33.94,C,C1,MicroStrategy,...,0.0,N,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
1460,NaN,1000.0,1000.0,1000.000000,36 months,15.27%,34.80,C,C4,General Motors,...,0.0,N,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
1536,NaN,1200.0,1200.0,1200.000000,36 months,13.49%,40.72,C,C1,"APM Terminals, NA",...,0.0,N,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
1680,NaN,1000.0,1000.0,1000.000000,36 months,10.65%,32.58,B,B2,ShopRite,...,0.0,N,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
1837,NaN,1000.0,1000.0,1000.000000,36 months,19.03%,36.68,E,E2,"AJ Industries West, Inc.",...,0.0,N,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
1886,NaN,1000.0,1000.0,1000.000000,36 months,16.29%,35.31,D,D1,Omega Home Care,...,0.0,N,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
1930,NaN,1000.0,1000.0,1000.000000,36 months,16.29%,35.31,D,D1,quality glass,...,0.0,N,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
2112,NaN,1200.0,1200.0,1200.000000,36 months,12.42%,40.10,B,B4,valrico state bank,...,0.0,N,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
2146,NaN,1000.0,1000.0,1000.000000,36 months,9.91%,32.23,B,B1,Intel Corp,...,0.0,N,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
2358,NaN,1100.0,1100.0,1100.000000,36 months,14.65%,37.95,C,C3,Ariens,...,0.0,N,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
2400,NaN,1200.0,1200.0,1200.000000,36 months,18.25%,43.54,D,D5,Omnicare,...,0.0,N,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
2452,NaN,1200.0,1200.0,1200.000000,36 months,10.65%,39.09,B,B2,NaN,...,0.0,N,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
2698,NaN,1000.0,1000.0,1000.000000,36 months,14.65%,34.50,C,C3,NaN,...,0.0,N,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
2747,NaN,1000.0,1000.0,1000.000000,36 months,15.96%,35.14,C,C5,NaN,...,0.0,N,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
2755,NaN,1000.0,1000.0,1000.000000,36 months,13.49%,33.94,C,C1,USMC(Military),...,0.0,N,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
2849,NaN,1000.0,1000.0,1000.000000,36 months,14.65%,34.50,C,C3,WANHO,...,0.0,N,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
2850,NaN,1200.0,1200.0,1200.000000,36 months,13.49%,40.72,C,C1,University of Maryland Medical Center,...,0.0,N,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
2887,NaN,1000.0,1000.0,1000.000000,36 months,15.27%,34.80,C,C4,destination hotels and resorts,...,0.0,N,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
2951,NaN,1000.0,1000.0,1000.000000,36 months,12.69%,33.55,B,B5,kraft Foods,...,0.0,N,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
3203,NaN,1200.0,1200.0,1200.000000,36 months,14.27%,41.18,C,C2,Metro.Water Reclamation Dist. Chicago,...,0.0,N,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
3222,NaN,1000.0,1000.0,1000.000000,36 months,11.71%,33.08,B,B3,Serco,...,0.0,N,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
3412,NaN,1200.0,1200.0,1200.000000,36 months,7.90%,37.55,A,A4,YMCA,...,0.0,N,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
3680,NaN,1000.0,1000.0,1000.000000,36 months,16.29%,35.31,D,D1,mcmaster-carr,...,0.0,N,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
3755,NaN,1000.0,1000.0,750.000000,36 months,11.71%,33.08,B,B3,Kaiser Permanente,...,0.0,N,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
3834,NaN,1000.0,1000.0,1000.000000,36 months,14.27%,34.31,C,C2,Department of Health and Human Services,...,0.0,N,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41923,NaN,1200.0,1200.0,1200.000000,36 months,14.82%,41.50,E,E3,Capital Noveltees,...,0.0,N,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
41957,NaN,600.0,600.0,525.000000,36 months,13.24%,20.29,D,D3,Ale House,...,0.0,N,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
42036,NaN,925.0,925.0,825.000000,36 months,10.39%,30.02,B,B4,Marc Center,...,0.0,N,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
42069,NaN,550.0,550.0,525.000000,36 months,12.04%,18.28,C,C5,Big Lots,...,0.0,N,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
42139,NaN,500.0,500.0,475.000000,36 months,12.99%,16.85,D,D3,Adecco,...,0.0,N,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
42151,NaN,1075.0,1075.0,475.000000,36 months,11.72%,35.57,C,C4,ssi dissabilty,...,0.0,N,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
42162,NaN,700.0,700.0,675.000000,36 months,17.09%,24.99,G,G1,Columbia College,...,0.0,N,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
42189,NaN,800.0,800.0,600.000000,36 months,13.43%,27.13,E,E1,Mainstreet Host,...,0.0,N,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
42197,NaN,1000.0,1000.0,975.000000,36 months,9.33%,31.96,B,B3,Broadmoor Hotel,...,0.0,N,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
42200,NaN,600.0,600.0,575.000000,36 months,10.91%,19.62,C,C3,Daniel Mauk,...,0.0,N,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
42215,NaN,800.0,800.0,750.000000,36 months,9.96%,25.80,B,B5,NaN,...,0.0,N,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
42219,NaN,600.0,600.0,475.930000,36 months,14.07%,20.53,E,E3,Execu-Search,...,0.0,N,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
42234,NaN,1000.0,1000.0,975.000000,36 months,11.86%,33.15,D,D1,Reiss Ltd Retail,...,0.0,N,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
42284,NaN,900.0,900.0,425.000000,36 months,14.38%,30.93,E,E4,Georgica Services,...,0.0,N,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
42285,NaN,1000.0,1000.0,775.000000,36 months,16.59%,35.45,G,G1,chevron foods,...,0.0,N,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
42286,NaN,600.0,600.0,225.000000,36 months,11.54%,19.80,C,C5,NaN,...,0.0,N,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
42316,NaN,850.0,850.0,200.000000,36 months,14.07%,29.08,E,E3,NaN,...,0.0,N,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
42323,NaN,500.0,500.0,200.000000,36 months,12.49%,16.73,D,D3,Polynesian Isles Resort,...,0.0,N,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
42349,NaN,700.0,700.0,575.004772,36 months,11.86%,23.21,D,D1,masonite corp.,...,0.0,N,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
42365,NaN,500.0,500.0,125.000000,36 months,9.01%,15.91,B,B2,NaN,...,0.0,N,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
42409,NaN,1200.0,1200.0,950.000000,36 months,13.12%,40.51,D,D5,Hall County Commissioners,...,0.0,N,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
42420,NaN,500.0,500.0,375.000000,36 months,8.38%,15.76,A,A5,us army,...,0.0,N,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
42484,NaN,1000.0,1000.0,850.000000,36 months,15.01%,34.68,F,F1,Coldwell Banker Gordon Co. Realtors,...,NaN,N,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
42487,NaN,1200.0,1200.0,700.000000,36 months,17.54%,43.11,G,G4,Walgreen's,...,NaN,N,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
42498,NaN,1000.0,1000.0,500.000000,36 months,12.49%,33.45,D,D3,Portrait Innovations,...,NaN,N,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
42499,NaN,1200.0,1200.0,550.000000,36 months,10.28%,38.88,C,C1,Subway,...,NaN,N,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
42517,NaN,1200.0,1200.0,500.000000,36 months,9.01%,38.17,B,B2,Classic Components,...,NaN,N,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
42520,NaN,1000.0,1000.0,625.000000,36 months,14.07%,34.21,E,E3,Macy's,...,NaN,N,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
42525,NaN,1000.0,1000.0,625.000000,36 months,7.12%,30.94,A,A1,Mana Products,...,NaN,N,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
42534,NaN,1000.0,1000.0,0.000000,36 months,9.64%,32.11,B,B4,Halping hands company inc.,...,NaN,N,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN

,id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_title,...,tax_liens,hardship_flag,disbursement_method,debt_settlement_flag,debt_settlement_flag_date,settlement_status,settlement_date,settlement_amount,settlement_percentage,settlement_term
80,NaN,35000.0,22075.0,22050.00000,60 months,17.27%,551.84,D,D3,tutor Per ini Corporation,...,0.0,N,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
128,NaN,35000.0,35000.0,35000.00000,36 months,8.90%,1111.37,A,A5,City of Los Angeles,...,0.0,N,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
185,NaN,35000.0,35000.0,35000.00000,36 months,10.65%,1140.07,B,B2,baylor college of medicine,...,0.0,N,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
268,NaN,35000.0,26825.0,26800.00000,60 months,18.64%,690.56,E,E1,"Navistar, Inc.",...,0.0,N,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
276,NaN,35000.0,35000.0,35000.00000,36 months,8.90%,1111.37,A,A5,Twitch LLC,...,0.0,N,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
306,NaN,35000.0,23250.0,23200.00000,60 months,20.30%,619.88,E,E5,Prospect Transportation Inc.,...,0.0,N,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
336,NaN,35000.0,23150.0,21739.74813,60 months,17.27%,578.71,D,D3,Fed Govt-Environmental Protection Agency,...,0.0,N,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
387,NaN,35000.0,27575.0,26043.43249,60 months,12.42%,619.26,B,B4,United States Air Force,...,0.0,N,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
431,NaN,35000.0,35000.0,32763.05520,60 months,19.42%,916.03,E,E3,"Skanska USA Civil West, Inc",...,0.0,N,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
496,NaN,35000.0,23250.0,23225.00000,60 months,20.30%,619.88,E,E5,The Crexent Business Centers,...,0.0,N,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
611,NaN,35000.0,35000.0,35000.00000,36 months,8.90%,1111.37,A,A5,Visa Inc,...,0.0,N,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
683,NaN,35000.0,21800.0,21775.00000,60 months,12.42%,489.57,B,B4,State of Ca.,...,0.0,N,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
704,NaN,35000.0,21275.0,21250.00000,60 months,11.71%,470.14,B,B3,Queens College CUNY,...,0.0,N,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
715,NaN,35000.0,22050.0,22050.00000,60 months,19.03%,572.36,E,E2,Daimler Trucks North America,...,0.0,N,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
753,NaN,35000.0,21825.0,21825.00000,60 months,20.30%,581.88,E,E5,Credit Suisse,...,0.0,N,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
758,NaN,35000.0,35000.0,35000.00000,36 months,16.77%,1243.85,D,D2,Hines Interests LP,...,0.0,N,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
759,NaN,35000.0,35000.0,35000.00000,36 months,14.27%,1200.82,C,C2,IBM,...,0.0,N,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
767,NaN,35000.0,21350.0,21325.00000,60 months,20.89%,576.27,F,F1,"16th MP BDE, U.S. Army",...,0.0,N,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
838,NaN,35000.0,22875.0,22875.00000,60 months,19.03%,593.77,E,E2,Ernst & Young LLP,...,0.0,N,Cash,Y,Nov-14,COMPLETE,May-14,5419.28,30.0,0.0
868,NaN,35000.0,35000.0,34975.00000,60 months,19.91%,925.54,E,E4,Havertys Fyrniture,...,0.0,N,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
889,NaN,35000.0,35000.0,35000.00000,60 months,20.89%,944.71,F,F1,Coast Learning Systems,...,0.0,N,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
964,NaN,35000.0,35000.0,35000.00000,36 months,8.90%,1111.37,A,A5,Department of Army,...,0.0,N,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
998,NaN,35000.0,35000.0,33906.19420,60 months,20.30%,933.14,E,E5,Regional Transportation District,...,0.0,N,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
1006,NaN,35000.0,22050.0,22025.00000,60 months,12.42%,495.19,B,B4,"Multivista, FL dba Premium Documentation",...,0.0,N,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
1016,NaN,35000.0,22600.0,22575.00000,60 months,19.03%,586.63,E,E2,US Army,...,0.0,N,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
1098,NaN,35000.0,23350.0,23350.00000,60 months,11.71%,516.00,B,B3,HONDA CARS OF CORONA,...,0.0,N,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
1168,NaN,35000.0,21675.0,21650.00000,60 months,19.91%,573.18,E,E4,NaN,...,0.0,N,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
1180,NaN,35000.0,35000.0,35000.00000,60 months,20.89%,944.71,F,F1,New Process Steel,...,0.0,N,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
1185,NaN,35000.0,35000.0,34975.00000,60 months,19.42%,916.03,E,E3,prairie ridge hospital,...,0.0,N,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
1199,NaN,35000.0,35000.0,35000.00000,60 months,14.27%,819.30,C,C2,USAF,...,0.0,N,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18854,NaN,35000.0,35000.0,34950.00000,36 months,13.06%,1180.31,C,C2,AutoVIrt,...,0.0,N,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
18864,NaN,35000.0,35000.0,34858.58862,36 months,14.54%,1205.42,D,D1,Polaris Group,...,0.0,N,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
18898,NaN,35000.0,28075.0,28000.00000,60 months,17.88%,711.09,E,E5,us postal service,...,0.0,N,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
18960,NaN,35000.0,35000.0,20775.00492,60 months,16.40%,858.59,E,E1,TriSept Corporation,...,0.0,N,Cash,Y,Oct-12,COMPLETE,Sep-12,11800.00,62.2,0.0
18964,NaN,35000.0,35000.0,31576.36263,60 months,19.74%,922.23,F,F5,Mcgladrey,...,0.0,N,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
19007,NaN,35000.0,35000.0,35000.00000,36 months,16.02%,1230.85,D,D5,Palm Restaurant,...,0.0,N,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
19022,NaN,35000.0,35000.0,34975.00000,60 months,19.74%,922.23,F,F5,TEI Biosciences,...,0.0,N,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
19076,NaN,35000.0,35000.0,30460.00873,60 months,18.25%,893.54,F,F1,Mustang Engineering LP,...,0.0,N,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
19087,NaN,35000.0,35000.0,28329.99182,60 months,17.14%,872.48,E,E3,Crane Energy Flow Solutions,...,0.0,N,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
19091,NaN,35000.0,35000.0,12793.19224,60 months,16.02%,851.51,D,D5,Las Vegas Metropolitain Police Dept,...,0.0,N,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
19110,NaN,35000.0,35000.0,34973.63603,60 months,16.77%,865.52,E,E2,NaN,...,0.0,N,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
19163,NaN,35000.0,35000.0,34879.23323,36 months,12.68%,1173.91,C,C1,RT Media Group,...,0.0,N,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
19169,NaN,35000.0,35000.0,34771.32290,60 months,20.48%,936.66,G,G2,Enterprise Rent A Car,...,0.0,N,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
19172,NaN,35000.0,35000.0,34993.19696,60 months,16.02%,851.51,D,D5,Federal Aviation Administration,...,0.0,N,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
19206,NaN,35000.0,35000.0,21068.32935,60 months,16.77%,865.52,E,E2,Partners Healthcare,...,0.0,N,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
19234,NaN,35000.0,35000.0,32027.80008,60 months,15.65%,844.64,D,D4,Wedbush Bank,...,0.0,N,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
19242,NaN,35000.0,35000.0,30355.35138,60 months,17.51%,879.47,E,E4,Florida Sheriffs Youth Ranch,...,0.0,N,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
19270,NaN,35000.0,35000.0,34938.12647,60 months,16.02%,851.51,D,D5,Western Union,...,0.0,N,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
19302,NaN,35000.0,35000.0,34993.26306,60 months,16.40%,858.59,E,E1,University of Miami,...,0.0,N,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
19330,NaN,35000.0,35000.0,28573.78642,60 months,17.14%,872.48,E,E3,Alfred Mann Fondation,...,0.0,N,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
19344,NaN,35000.0,35000.0,34993.32571,60 months,16.77%,865.52,E,E2,Alamance Regional Medical Center,...,0.0,N,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
19420,NaN,35000.0,35000.0,34930.28146,36 months,13.80%,1192.83,C,C4,Texas Health Center for Diag. & Surgery,...,0.0,N,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
19435,NaN,35000.0,35000.0,34536.19512,60 months,17.51%,879.47,E,E4,Level3 Communications,...,0.0,N,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
19459,NaN,35000.0,35000.0,35000.00000,36 months,12.68%,1173.91,C,C1,US Government,...,0.0,N,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
19494,NaN,35000.0,35000.0,34969.06266,60 months,21.22%,951.21,G,G4,Columbia University,...,0.0,N,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
19562,NaN,35000.0,35000.0,29012.68626,60 months,17.14%,872.48,E,E3,Western Michigan University,...,0.0,N,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
19642,NaN,35000.0,35000.0,34975.00000,60 months,17.51%,879.47,E,E4,Standard Pacific Homes,...,0.0,N,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
19668,NaN,35000.0,35000.0,34950.00000,60 months,16.40%,858.59,E,E1,Foley Power Systems,...,0.0,N,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
19804,NaN,35000.0,35000.0,31845.22117,60 months,18.99%,907.73,F,F3,New York City Police Department,...,0.0,N,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
19921,NaN,35000.0,35000.0,34682.59813,60 months,20.48%,936.66,G,G2,NC State University,...,0.0,N,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN